<header>
    <div class="header-image"> 
      <img ng-src="/img/mongodb.png"> 
    </div>
    <div class="header-image"> 
      <img ng-src="/img/express.png"> 
    </div> 
    <div class="header-image">
      <img ng-src="/img/angularjs.png"> 
    </div>
    <div class="header-image">
      <img ng-src="/img/nodejs.png"> 
    </div>
    <ul class="navbar">
      <li class="link"><a ng-href="/" active-link="active">Home</a></li>
      <li class="link"><a ng-href="/portfolio" active-link="active">Portfolio</a></li>
      <li class="link"><a ng-href="/tutorials" active-link="active">Tutorials</a></li>
      <li class="link"><a ng-href="/contact" active-link="active">Contact</a></li>
    </ul>
</header>