<div class="title-container">
  <div class="title">
  James Haville
  </div>
  <div class="sub-title">
  Full Stack Web Developer
  </div>
  <ul class="item-list">
    <skill name="AngularJS"></skill>
    <skill name="Express"></skill>
    <skill name="Node.js"></skill>
    <skill name="MongoDB"></skill>
    <skill name="Mongoose"></skill>
    <skill name="jQuery"></skill>
  </ul>
  <div class="linked-in-url">
  	<a href="http://uk.linkedin.com/in/jameshaville">http://uk.linkedin.com/in/jameshaville</a>
  </div>
</div>